In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API key
from Zip_census import court_api_key
c = Census(court_api_key, year=2018)

# Import Data

In [2]:
#Import Data
#from https://simplemaps.com/data/us-zips

dataMain = pd.read_csv("Resources/uszips.csv")
dataMain

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33092,99923,55.97796,-130.03671,Hyder,AK,Alaska,True,NaN,15,2.1,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,02198,False,False,America/Sitka
33093,99925,55.55767,-132.97627,Klawock,AK,Alaska,True,NaN,927,5.7,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,02198,False,False,America/Sitka
33094,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1635,4.2,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33095,99927,56.25100,-133.37571,Point Baker,AK,Alaska,True,NaN,38,0.2,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,02198,False,False,America/Sitka
33096,99929,56.36950,-131.93648,Wrangell,AK,Alaska,True,NaN,2484,0.4,2275,Wrangell,{'02275':100},Wrangell,02275,False,False,America/Sitka

# Clean Data

In [14]:
#Convert data to dataframe, perform some basic operations
#Keep zip, lat, lng, city, state_name, county_fips, county_name, county_fips_all
#drop the rest

data_df = pd.DataFrame(dataMain)

data_df.drop(columns=['state_id','zcta','parent_zcta', 'density', 'county_weights', 'county_names_all', 'imprecise', 'military', 'timezone', 'county_fips_all'],inplace=True)
data_df.dropna(how="any", inplace=True)

data_df

,zip,lat,lng,city,state_name,population,county_fips,county_name
0,601,18.18004,-66.75218,Adjuntas,Puerto Rico,17242,72001,Adjuntas
1,602,18.36073,-67.17517,Aguada,Puerto Rico,38442,72003,Aguada
2,603,18.45439,-67.12202,Aguadilla,Puerto Rico,48814,72005,Aguadilla
3,606,18.16724,-66.93828,Maricao,Puerto Rico,6437,72093,Maricao
4,610,18.29032,-67.12243,Anasco,Puerto Rico,27073,72011,Añasco
...,...,...,...,...,...,...,...,...
33092,99923,55.97796,-130.03671,Hyder,Alaska,15,2198,Prince of Wales-Hyder
33093,99925,55.55767,-132.97627,Klawock,Alaska,927,2198,Prince of Wales-Hyder
33094,99926,55.12617,-131.48928,Metlakatla,Alaska,1635,2198,Prince of Wales-Hyder
33095,99927,56.25100,-133.37571,Point Baker,Alaska,38,2198,Prince of Wales-Hyder
33096,99929,56.36950,-131.93648,Wrangell,Alaska,2484,2275,Wrangell

# Save as CSV

In [15]:
#Save as a csv
#Using encoding="utf-8" to avoid issues later
data_df.to_csv("zip_Lat_Lon_task.csv", encoding="utf-8", index=False)